# Ignore local API credentials and other local-only API modules
api/

#Ignore sqlite database files
*.sqlite
*.db
sqlite/

#ignore internal Test files no relevancy to the project
internal_test_ignore/

# Local database 
sqlite/

#Test Folder
Internal_Test_Ignore/

# Visual Studio user files
.vs/FederalBillBot/v17/DocumentLayout.json
.vs/VSWorkspaceState.json
.vs/FederalBillBot/v17/.wsuo
.vs/ProjectSettings.json

#junk
*.pyc
_pycache_/